<ul class="timeline">
  <!-- timeline item -->
  <li>

    <div class="timeline-item" id="task" data-task-id="<%= task.id ? task.id : '' %>">
      <span class="time"><i class="fa fa-clock-o"></i>  <%=  moment(task.created_date).format("DD MMMM YYYY, HH:mm:ss") %></span>
      <h3 class="timeline-header" id="task_title" <% if (task.put_method_allowed) { %> contenteditable="true" <% } %> ><%= task.title ? task.title : '' %></h3>
      <div class="timeline-body">
        <div class="row">
          <div class="col-md-10">
            <p id="task_text" <% if (task.put_method_allowed) { %> contenteditable="true" <% } %> ><%= task.text ? task.text : '' %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="text-muted">Проект</span>
            <div id="project_list"></div>
          </div>
          <div class="col-md-6">
            <span class="text-muted">Базовая задача</span>
            <div id="base_task_list"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span class="text-muted">Ответственный</span>
            <div id="responsible_list"></div>
          </div>
          <div class="col-md-2">
            <span class="text-muted">Приоритет</span>
            <div id="priority_list"></div>
          </div>
          <div class="col-md-2">
            <span class="text-muted">Статус</span>
            <div id="status_list"></div>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
      <div class="timeline-footer">
        <% if (task.put_method_allowed) { %>
          <a class="edit btn btn-primary btn-xs">Обновить</a>
        <% } %>
        <% if (task.delete_method_allowed) { %>
          <a class="destroy btn btn-danger btn-xs">Удалить</a>
        <% } %>

          <a class="btn btn-success btn-xs pull-right" disabled="disabled"><i class="fa fa-user"></i> <%= task.owner_name ? task.owner_name : '' %></a><div class="clearfix"></div>
      </div>
    </div>
  </li>
  <!-- END timeline item -->
  <!-- timeline item -->
  <li>
    <i class="fa fa-comments bg-yellow"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
      <div class="timeline-body">
        Take me to your leader!
        Switzerland is small and neutral!
        We are more like Germany, ambitious and misunderstood!
      </div>
      <div class="timeline-footer">
        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
      </div>
    </div>
  </li>
  <!-- END timeline item -->
  <li>
    <i class="fa fa-clock-o bg-gray"></i>
  </li>
</ul>