<ul class="timeline">
  <!-- timeline item -->
  <li>
    <i class="fa fa-envelope bg-blue"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i>  <%=  moment(task.created_date).format("DD MMMM YYYY, HH:mm:ss") %></span>
      <h3 class="timeline-header"><%= task.title ? task.title : '' %></h3>
      <div class="timeline-body">
        <%= task.text ? task.text : '' %>
      </div>
      <div class="timeline-footer">
        <a class="btn btn-primary btn-xs">Read more</a>
        <a class="btn btn-danger btn-xs">Delete</a>
      </div>
    </div>
  </li>
  <!-- END timeline item -->
  <!-- timeline item -->
  <li>
    <i class="fa fa-user bg-aqua"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
      <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
    </div>
  </li>
  <!-- END timeline item -->
  <!-- timeline item -->
  <li>
    <i class="fa fa-comments bg-yellow"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
      <div class="timeline-body">
        Take me to your leader!
        Switzerland is small and neutral!
        We are more like Germany, ambitious and misunderstood!
      </div>
      <div class="timeline-footer">
        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
      </div>
    </div>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
      <div class="timeline-body">
        Take me to your leader!
        Switzerland is small and neutral!
        We are more like Germany, ambitious and misunderstood!
      </div>
      <div class="timeline-footer">
        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
      </div>
    </div>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
      <div class="timeline-body">
        Take me to your leader!
        Switzerland is small and neutral!
        We are more like Germany, ambitious and misunderstood!
      </div>
      <div class="timeline-footer">
        <a class="btn btn-warning btn-flat btn-xs">View comment</a>
      </div>
    </div>
  </li>
  <!-- END timeline item -->
  <li>
    <i class="fa fa-clock-o bg-gray"></i>
  </li>
</ul>