<ul class="timeline">
  <!-- timeline item -->
  <li>
    <i class="fa fa-envelope bg-blue"></i>
    <div class="timeline-item" id="task" data-task-id="<%= task.id ? task.id : '' %>">
      <span class="time"><i class="fa fa-clock-o"></i>  <%=  moment(task.created_date).format("DD MMMM YYYY, HH:mm:ss") %></span>
      <h3 class="timeline-header" id="task_title" <% if (task.put_method_allowed && task.delete_method_allowed) { %> contenteditable="true" <% } %> ><%= task.title ? task.title : '' %></h3>
      <div class="timeline-body">
        <div class="row">
          <div class="col-md-10">
            <p id="task_text" <% if (task.put_method_allowed && task.delete_method_allowed) { %> contenteditable="true" <% } %> ><%= task.text ? task.text : '' %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="text-muted">Проект</span>
            <div id="project_list"></div>
          </div>
          <div class="col-md-6">
            <span class="text-muted">Базовая задача</span>
            <div id="base_task_list"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <span class="text-muted">Ответственный</span>
            <div id="responsible_list"></div>
          </div>
          <div class="col-md-2">
            <span class="text-muted">Приоритет</span>
            <div id="priority_list"></div>
          </div>
          <div class="col-md-2">
            <span class="text-muted">Статус</span>
            <div id="status_list"></div>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
      <div class="timeline-footer">
        <% if (task.put_method_allowed) { %>
          <a class="edit btn btn-primary btn-xs">Обновить</a>
        <% } %>
        <% if (task.delete_method_allowed) { %>
          <a class="destroy btn btn-danger btn-xs">Удалить</a>
        <% } %>

          <a class="btn btn-success btn-xs pull-right" disabled="disabled"><i class="fa fa-user"></i> <%= task.owner_name ? task.owner_name : '' %></a><div class="clearfix"></div>
      </div>
    </div>
  </li>
  <!-- END timeline item -->
  <!-- timeline item -->
  <li class="comments_list">
    <i class="fa fa-comments bg-yellow"></i>
    <div class="comment-add timeline-item">
      <h3 class="timeline-header">Комментарии</h3>
      <div class="timeline-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Добавить комментарий</label>
              <textarea id="comment_textarea" class="form-control" rows="3" placeholder=""></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a id="comment_edit" class="btn btn-primary btn-xs pull-right">Добавить</a>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>