<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<form action="{% url 'token' %}" method="post" id="auth-form">
  <input type="text" name="username">
  <input type="text" name="password">
  <input type="submit">
</form>
<button id="get-data">Получить данные</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
$.fn.serializeObject = function()
{
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
        if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
                o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
        } else {
            o[this.name] = this.value || '';
        }
    });
    return o;
};

function authorize(e) {
  e.preventDefault();
  var $auth_form = $('#auth-form');

  console.log($auth_form.serializeObject());
  $.ajax({
    type: $auth_form.attr('method'),
    url: $auth_form.attr('action'),
    data: $auth_form.serializeObject(),
    success: function(response){
        $.cookie('auth-token', response.token);
    }
  });
}

function data() {
  $.ajax({
    type: "GET",
    url: "/jwt_auth/restricted/",
    beforeSend: function(xhr) {
      xhr.setRequestHeader("Authorization", "JWT " + $.cookie('auth-token') );
    },
    success: function(data){
      console.log(data);
    }
  });
}

$(document).ready(function(){
  $('#auth-form').on('click', 'input[type="submit"]', authorize);
  $('#get-data').on('click', data);
});
</script>
</body>
</html>